<!doctype <html>
<head>
 <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Google Font -->
   <link href="https://fonts.googleapis.com/css2?family=Average+Sans&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
     <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <!--Font awesome-->
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<style type="text/css">
body{
  background: black;
}
.container{
  margin-top: 40px;
}
.navbar-brand{
  color: red;
  font-size: 2rem;
}
.navbar{
  background: black;
}
body {
    
    font-family: 'Average Sans', sans-serif;
    
    position: relative;
}
p{
  font-size: 1.5rem;
}
.card-title{
  font-size: 2rem;
}
a:hover{
  color: white;
}


</style>
  <title>DOFOS</title>
</head>
<body>
<nav class="navbar navbar-expand-lg justify-content-center">
  <a class="navbar-brand" href="/" >DOFOS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>


<div class="container">




  <div class="row">
    <div class="col-lg-6 col-sm-12">
<div class="card mb-3">
<a href="/">   <img class="card-img-top" src="../imgs/design1.png" alt="Card image cap"></a>
  <div class="card-body">
    <h5 class="card-title"><b>Ecommerce website</b></h5>
    <p class="card-text">If you are thinking to expand your business online then it is the time,get your business online with us</p>
    <p><b>Price:</b> 999 INR </p>
  </div>
</div>
</div>
    <div class="col-lg-6 col-sm-12">
<div class="card mb-3">
 <a href="/"> <img class="card-img-top" src="../imgs/design2.png" alt="Card image cap"></a>
  <div class="card-body">
    <h5 class="card-title"><b>Portfolio website</b></h5>
    <p class="card-text">Get your work online and show it to whole world,give us chance to promote your work</p>
    <p><b>Price:</b> 999 INR </p>
    <br>
  </div>
</div>
</div>


</div>

  <div class="row">
    <div class="col-lg-6 col-sm-12">
<div class="card mb-3">
 <a href="/"> <img class="card-img-top" src="../imgs/design3.png" alt="Card image cap"></a>
  <div class="card-body">
    <h5 class="card-title"><b>Graphic designer</b></h5>
    <p class="card-text">If you are graphic designer then put your work online as it increase your chances to attract t clients</p>
    <p><b>Price:</b> 999 INR </p>
    <br><br>
  </div>
</div>
</div>
    <div class="col-lg-6 col-sm-12">
<div class="card mb-3">
<a href="/">  <img class="card-img-top" src="../imgs/design5.png" alt="Card image cap"></a>
  <div class="card-body">
    <h5 class="card-title"><b>Personlised Website</b></h5>
    <p class="card-text">In the world of internet you must have a personalised portfolio of yours on internet</p>
        <p><b>Price:</b> 999 INR </p>
  </div>
</div>
</div>


</div>
</div>




</body>
</html>